.maskedHero {
  position: relative;
  height: 100vh; 
  background: #fff;
}

.container {
  position: relative;
  height: 250vh;
  /* overflow: hidden; */
  background-color: rgb(255, 255, 255);
}

.stickyMask {
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  mask-image: url('/medias/mask.svg');
  mask-position: 52.35% center;
  mask-repeat: no-repeat;
  mask-size: 80%
}

.stickyMask video {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;         
}
